In [1]:
#downloading and loading query results from Amazon Athena into a Pandas DataFrame. 

import time
import pandas as pd
import boto3
from typing import Dict

# Define your AWS credentials and configuration

AWS_ACCESS_KEY = "AKIA2DEQITH3KEPF2OZU"
AWS_SECRET_KEY = "2GICVMYlCJ6ZgSL+pmkSb3SBWYuPQidiX/U27n5J"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid_19"
S3_STAGING_DIR = "s3://sal-covid19-ds/output/"
S3_BUCKET_NAME = "sal-covid19-ds"
S3_OUTPUT_DIRECTORY = "output"



# Initialize your Athena client
athena_client = boto3.client('athena', aws_access_key_id=AWS_ACCESS_KEY, aws_secret_access_key=AWS_SECRET_KEY, region_name=AWS_REGION)

def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # Poll the query execution status
            query_execution = client.get_query_execution(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            status = query_execution['QueryExecution']['Status']['State']

            if status in ['SUCCEEDED', 'FAILED', 'CANCELLED']:
                break

            # Wait and poll again if the query is still running
            time.sleep(5)
        except Exception as err:
            raise err

    # Check if the query was successful
    if status == 'SUCCEEDED':
        # Download the result data from S3
        temp_file_location = "athena_query_results.csv"
        s3_client = boto3.client(
            "s3",
            aws_access_key_id=AWS_ACCESS_KEY,
            aws_secret_access_key=AWS_SECRET_KEY,
            region_name=AWS_REGION,
        )
        s3_client.download_file(
            S3_BUCKET_NAME,
            f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
            temp_file_location,
        )

        # Load the CSV data into a Pandas DataFrame
        return pd.read_csv(temp_file_location)
    else:
        raise Exception("Athena query execution failed.")

# Example usage
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "enigma-nytimes-data-in-usaus_county"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

enigma_nytimes_data_in_usaus_county = download_and_load_query_results(athena_client, response)

In [2]:
enigma_nytimes_data_in_usaus_county.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1  2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2  2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3  2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4  2020-01-24  Snohomish  Washington  53061.0    1.0     0.0

In [3]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "nytimes-data-in-usaus_states"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

# Load the query results into a DataFrame
nytimes_data_in_usaus_states = download_and_load_query_results(athena_client, response)

# Print the first 10 rows of the DataFrame
print(nytimes_data_in_usaus_states.head(10))

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0
5  2020-01-25  California     6      1       0
6  2020-01-25    Illinois    17      1       0
7  2020-01-25  Washington    53      1       0
8  2020-01-26     Arizona     4      1       0
9  2020-01-26  California     6      2       0

In [4]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "rearc-covid-19-testing-datastates_daily"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

# Load the query results into a DataFrame
rearc_covid_19_testing_datastates_daily = download_and_load_query_results(athena_client, response)

# Print the first 10 rows of the DataFrame

rearc_covid_19_testing_datastates_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [51]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "covid_19"."enigma-jhud02enigma_jhud" LIMIT 40000',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

# Load the query results into a DataFr
enigma_jhud = download_and_load_query_results(athena_client, response)

# Print the first 10 rows of the DataFrame
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [52]:
enigma_jhud.shape

(40000, 13)

In [6]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "rearc-covid-19-testing-dataus_daily"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)



rearc_covid_19_testing_dataus_daily = download_and_load_query_results(athena_client, response)


rearc_covid_19_testing_datastates_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [7]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "rearc-covid-19-testing-dataus_total_latest"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

rearc_covid_19_testing_dataus_total_latest = download_and_load_query_results(athena_client, response)

rearc_covid_19_testing_dataus_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [8]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "rearc-usa-hospital-bedsusa_hospital_beds_geojson_4cca297c"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

rearc_usa_hospital_bedsusa_hospital_beds = download_and_load_query_results(athena_client, response)

rearc_usa_hospital_bedsusa_hospital_beds.head()

Empty DataFrame
Columns: [objectid, hospital_name, hospital_type, hq_address, hq_address1, hq_city, hq_state, hq_zip_code, county_name, state_name, state_fips, cnty_fips, fips, num_licensed_beds, num_staffed_beds, num_icu_beds, adult_icu_beds, pedi_icu_beds, bed_utilization, avg_ventilator_usage, potential_increase_in_bed_capac, latitude, longtitude]
Index: []

[0 rows x 23 columns]

In [9]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "static-datasetscountrycode"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)


static_datasetscountrycode = download_and_load_query_results(athena_client, response)

static_datasetscountrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [10]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "static-datasetscountypopulation"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)


static_datasetscountypopulation = download_and_load_query_results(athena_client, response)
static_datasetscountypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [11]:
response = athena_client.start_query_execution(
    QueryString='SELECT * FROM "static-datasetsstate_abv"',
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

static_datasetsstate_abv = download_and_load_query_results(athena_client, response)
static_datasetsstate_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [12]:
new_header = static_datasetsstate_abv.iloc[0]

In [13]:
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [14]:
static_datasetsstate_abv = static_datasetsstate_abv[1:]

In [15]:
static_datasetsstate_abv

                    col0 col1
1                Alabama   AL
2                 Alaska   AK
3                Arizona   AZ
4               Arkansas   AR
5             California   CA
6               Colorado   CO
7            Connecticut   CT
8               Delaware   DE
9   District of Columbia   DC
10               Florida   FL
11               Georgia   GA
12                Hawaii   HI
13                 Idaho   ID
14              Illinois   IL
15               Indiana   IN
16                  Iowa   IA
17                Kansas   KS
18              Kentucky   KY
19             Louisiana   LA
20                 Maine   ME
21               Montana   MT
22              Nebraska   NE
23                Nevada   NV
24         New Hampshire   NH
25            New Jersey   NJ
26            New Mexico   NM
27              New York   NY
28        North Carolina   NC
29          North Dakota   ND
30                  Ohio   OH
31              Oklahoma   OK
32                Oregon   OR
33              Maryland   MD
34         Massachusetts   MA
35              Michigan   MI
36             Minnesota   MN
37           Mississippi   MS
38              Missouri   MO
39          Pennsylvania   PA
40          Rhode Island   RI
41        South Carolina   SC
42          South Dakota   SD
43             Tennessee   TN
44                 Texas   TX
45                  Utah   UT
46               Vermont   VT
47              Virginia   VA
48            Washington   WA
49         West Virginia   WV
50             Wisconsin   WI
51               Wyoming   WY

In [16]:
static_datasetsstate_abv.columns = new_header

In [17]:
static_datasetsstate_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA